<div class="edit-page-container">
  <div class="edit-page-list">
    
    <h1> Edit Location Details</h1>

    <p>
      <%= @item.name %>
    </p>

    <form method="post" action='/save-changes-country/<%=@item.id%>'>
      <label for="save-changes">Country Name</label>
      <input
      type="text"
      name="country_name"
      id="country_name"
      value=<%=@item.name%>
      />
      <input type="submit" value="Save Changes">
    </form>
  </div>
</div>
