<h1>Edit City Info</h1>

<form method="get" action="/home">
  <button type="submit">Home</button>
</form>

<h1> Edit Location Details</h1>

<p>
  <%= @item.city.name %>
</p>

<form method="post" action='/save-changes-city/<%=@item.id%>'>
  <label for="save-changes">City Name</label>
  <input
  type="text"
  name="city_name"
  id="city_name"
  value=<%=@item.city.name %>
  />
  <input type="submit" value="Save Changes">
</form>
