<div class="edit-page-container">
  <div class="edit-page-list">

    <h3 class="add-new-text"> Edit Location Details</h3>
    <br />
    <h5 class="add-new-text">  <%= @item.name %> </h5>


    <form method="post" action='/save-changes-country/<%=@item.id%>'>
      <label for="save-changes"><h3>Country Name</h3></label>
      <input
      type="text"
      name="country_name"
      id="country_name"
      value=<%=@item.name%>
      />
      <input type="submit" value="Save Changes">
    </form>
  </div>
</div>
