<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Why Not Track</title>
  </head>
  <body>

    <h1> Welcome </h1>

    <h2>Nina Williams</h2>
    <nav>
      <ul>
        <li>
          <a href="/home">Home</a>
        </li>
        <li>
          <a href="/visited">Visited</a>
        </li>
        <li>
          <a href="/not-visited">Not - Visited</a>
        </li>
        <li>
          <a href="/all">all</a>
        </li>
      </ul>
    </nav>

    <%= yield %>
  </body>
</html>
