<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Why Not Track</title>
    <link rel="stylesheet" type="text/css" href="/style.css">

  </head>
  <body>
    <div class= "grid-container-main">
      <div class="item-logo">
        <h1 class="profile-text">Track Your Travels</h1>
      </div>
      <div class="item-main">
        <h1 class="profile-text"> Welcome </h1>
      </div>
      <div class="item-main">
        <img class="profile-pic" src="images/nina.jpg" alt="Profile Picture"/>
      </div>
      <div class="item-main">
        <h2 class="profile-text">Nina Williams</h2>
      </div>
  </div>
    <nav>
      <div class="grid-container-nav">
        <a class="item-nav" href="/home">Home</a>
        <a class="item-nav" href="/visited">Visited</a>
        <a class="item-nav" href="/not-visited">Not - Visited</a>
        <a class="item-nav" href="/all">All</a>
        <a class="item-nav" href="/add-new">Add More</a>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
