<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Why Not Track</title>
    <link rel="stylesheet" type="text/css" href="/style.css?3">

  </head>
  <body>
    <div class= "title-container">
      <div class="item-logo">
        <h1 class="profile-text">Track Your Travels</h1>
      </div>
      <div class="title-item">
        <h1 class="profile-text"> Welcome </h1>
      </div>
      <div class="title-item">
        <img class="profile-pic" src="/images/nina.jpg" alt="Profile Picture"/>
      </div>
      <div class="title-item">
        <h2 class="profile-text">Nina Williams</h2>
      </div>
  </div>
    <nav>
      <div class="menu-container">
        <a class="menu-item menu-text" href="/home">Home</a>
        <a class="menu-item menu-text" href="/visited">Visited</a>
        <a class="menu-item menu-text" href="/not-visited">Not - Visited</a>
        <a class="menu-item menu-text" href="/all">All</a>
        <a class="menu-item menu-text" href="/add-new">Add More</a>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
