
<h2> Number of cities Visited: <%= @visited_cities.count %> </h2>
<h2> Number of countries Visited: <%= @visited_countries.count %> </h2>

<h2> Number of cities to Visit: <%= @not_visited_cities.count %> </h2>
<h2> Number of countries Visited: <%= @not_visited_countries.count %> </h2>

<!-- <form method="get" action="/visited">
  <button type="submit">Visited</button>
</form>

<form method="get" action="/not-visited">
  <button type="submit">Not Visited</button>
</form>

<form method="get" action="/add-new">
  <button type="submit">Add New</button>
</form>

<form method="get" action="/all">
  <button type="submit">View All</button>
</form> -->
