<h1> Welcome </h1>

<h2>Nina Williams</h2>

<img src="images/nina.jpg" alt="Profile Picture"/>

<p> Number of cities Visited: <%= @visited_cities.count %> </p>
<p> Number of countries Visited: <%= @visited_countries.count %> </p>

<p> Number of cities to Visit: <%= @not_visited_cities.count %> </p>
<p> Number of countries Visited: <%= @not_visited_countries.count %> </p>
