
<h2> Number of cities Visited: <%= @visited_cities.count %> </h2>
<h2> Number of countries Visited: <%= @visited_countries.count %> </h2>

<h2> Number of cities to Visit: <%= @not_visited_cities.count %> </h2>
<h2> Number of countries Visited: <%= @not_visited_countries.count %> </h2>
