<div class="edit-page-container">
  <div class="edit-page-list">

    <h3 class="edit-page-title">Search Result</h3>

    <% @locations_found.each do |item| %>

        <h3 class="edit-page-text"><%=item.city.name%> - <%=item.city.country.name%> </h3>
        </br>
      <form method="get" action="/edit-city/<%=item.id%>">
        <input name="visited"  type="submit" value="Edit">
      </form>

      <form method="post" action="/delete/<%=item.id%>">
        <input name="visited"  type="submit" value="Delete">
      </form>
    <%end%>
    </div>
  </div>
