* {
  box-sizing:border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: url("images/cloudy-sky.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.indiv-page-title-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* background-color: #2196F3; */
  padding: 5px;
}

.indiv-page-title {
  /* background-color: rgba(255, 255, 255, 0.8); */
  grid-column: 2;
  padding-bottom: 3em;
  text-align: center;
  font-size: 1em;
}

.generic-title {
  padding-bottom:0.5em;
}

.location-image {
  height:100px;
  width:100px;
}

.item-logo {
  /* background-color: rgba(255, 255, 255, 0.8); */
  grid-column: 1;
  padding: 5px;
  font-size: 10px;
  text-align: center;
  font-size: 1em;
  /* background-image: url("images/family-travel.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto; */

}

.generic-container-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 2em;
  padding-left: 5em;
  padding-right: 5em;
  padding-bottom: 5em;
}

.generic-list {
  grid-column: auto;
  margin:10px;
  border-radius:10%;
}

.generic-list-text {
  opacity:1;
  text-align: center;
  font-size: 1em;
  index:1;

}

.generic-list-background {
  background-color:rgba(37,51,66, 0.5);
  index:0;

}

.grid-container-add-new {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* background-color: #2196F3; */
  padding: 5px;
}

.page-add-list {
  /* background-color: rgba(255, 255, 255, 0.8); */
  grid-column: 3;
  padding: 5px;
  font-size: 10px;
  text-align: center;
  font-size: 1em;
}

a:hover {
  background-color: #253342;
  color: #D1D3D6;
}

.grid-container-nav{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* background-color: #2196F3; */
  padding: 5px;
}

.item-nav {
  /* background-color: rgba(255, 255, 255, 0.8); */
  grid-column: auto;
  padding: 5px;
  text-align: center;
  font-size: 2em;

}

.title-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* background-color: #2196F3; */
  padding: 1em;
  /* background-image: url("images/cloudy-sky.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto; */

}
.title-image {
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire */
}

.title-item {
  /* background-color: #2196F3; */
  grid-column: 2;
  padding: 5px;
  font-size: 10px;
  text-align: center;
}

.menu-container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* background-color: #2196F3; */
  padding: 1em;
}

.menu-item {
  background-color: #A4B5CB;
  grid-column: auto;
  padding: 5px;
  margin-left:1em;
  margin-right:1em;
  border-radius:15%;

  text-align: center;
}

.menu-text{
  font-size: 1.8em;
  text-decoration:none;
  color:#253342;
}

.grid-container-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* background-color: #2196F3; */
  padding: 5px;
}

.item-list {
  /* background-color: rgba(255, 255, 255, 0.8); */
  grid-column: auto;
  padding: 5px;
  font-size: 10px;
  text-align: center;
}

.item-text {
  font-size: 2em;
  color: black;
}

.profile-pic {
  height:5em;
  width:5em;
}

.profile-text{
  font-size:2em;
}
