* {
  box-sizing:border-box;
  padding: 0;
  margin: 0;
}

.grid-container-title {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* background-color: #2196F3; */
  padding: 5px;
}

.location-image {
  height:100px;
  width:100px;
}

.page-title {
  /* background-color: rgba(255, 255, 255, 0.8); */
  grid-column: 3;
  padding: 5px;
  font-size: 10px;
  text-align: center;
  font-size: 1em;
}

.item-logo {
  /* background-color: rgba(255, 255, 255, 0.8); */
  grid-column: 1;
  padding: 5px;
  font-size: 10px;
  text-align: center;
  font-size: 1em;
}

.visited-container-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* background-color: #2196F3; */
  padding: 5em;
}

.visited-list {
  /* background-color: rgba(255, 255, 255, 0.8); */
  grid-column: auto;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 10px;
  text-align: center;
  font-size: 1em;
}

.grid-container-add-new {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* background-color: #2196F3; */
  padding: 5px;
}

.page-add-list {
  /* background-color: rgba(255, 255, 255, 0.8); */
  grid-column: 3;
  padding: 5px;
  font-size: 10px;
  text-align: center;
  font-size: 1em;
}

a:hover {
  background-color: yellow;
}

.grid-container-nav{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* background-color: #2196F3; */
  padding: 5px;
}

.item-nav {
  /* background-color: rgba(255, 255, 255, 0.8); */
  grid-column: auto;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 5px;
  font-size: 10px;
  text-align: center;
  font-size: 2em;

}

.grid-container-main{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* background-color: #2196F3; */
  padding: 5px;
}

.item-main {
  /* background-color: rgba(255, 255, 255, 0.8); */
  grid-column: 2;
  padding: 5px;
  font-size: 10px;
  text-align: center;
}

.grid-container-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* background-color: #2196F3; */
  padding: 5px;
}

.item-list {
  /* background-color: rgba(255, 255, 255, 0.8); */
  grid-column: auto;
  padding: 5px;
  font-size: 10px;
  text-align: center;
}

.item-text {
  font-size: 2em;
  color: black;
}

.profile-pic {
  height:5em;
  width:5em;
}

.profile-text{
  font-size:2em;
}
